@font-face {
    font-family: "MadeTommyBlack";
    src: url("fonts/MadeTommyBlack.otf");
}

@font-face {
    font-family: "MadeTommyBold";
    src: url("fonts/MadeTommyBold.otf");
}

@font-face {
    font-family: "MadeTommyExtraBold";
    src: url("fonts/MadeTommyExtraBold.otf");
}

@font-face {
    font-family: "MadeTommyLight";
    src: url("fonts/MadeTommyLight.otf");
}

@font-face {
    font-family: "MadeTommyMedium";
    src: url("fonts/MadeTommyMedium.otf");
}

@font-face {
    font-family: "MadeTommyRegular";
    src: url("fonts/MadeTommyRegular.otf");
}

@font-face {
    font-family: "MadeTommyThin";
    src: url("fonts/MadeTommyThin.otf");
}

#back{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    z-index: -1;
}

#teamleft{
    position: absolute;
    left: 513px;
    top: 22px;
    width: 91px;
    height: 91px;
}

#teamright{
    position: absolute;
    left: 1316px;
    top: 22px;
    width: 91px;
    height: 91px;
}

#teamnameleft{
    position: absolute;
    left: 2px;
    top: 25px;
    width: 420px;
    height: 67px;
    font-size: 40px;
    font-family: MadeTommyBold;
    text-align: center;
    color: white;
}

#teamnameright{
    position: absolute;
    right: 2px;
    top: 25px;
    width: 420px;
    height: 67px;
    font-size: 40px;
    font-family: MadeTommyBold;
    text-align: center;
    color: white;
}

#recordleft{
    position: absolute;
    left: 2px;
    top: 80px;
    width: 420px;
    height: 67px;
    font-size: 30px;
    font-family: MadeTommyBold;
    text-align: center;
    color: white;
}

#recordright{
    position: absolute;
    right: 2px;
    top: 80px;
    width: 420px;
    height: 67px;
    font-size: 30px;
    font-family: MadeTommyBold;
    text-align: center;
    color: white;
}

.p1{
    position: absolute;
    left: 69px;
}

.p2{
    position: absolute;
    left: 322px;
}

.p3{
    position: absolute;
    left: 577px;
}

.p4{
    position: absolute;
    left: 1112px;
}

.p5{
    position: absolute;
    left: 1365px;
}

.p6{
    position: absolute;
    left: 1620px;
}

.text{
    width: 220px;
    height: 30px;
    font-family: MadeTommyBold;
    text-align: center;
    color: white;
}

.name{
    position: absolute;
    top: 257px;
    font-size: 30px;
    overflow: hidden;
}

.games{
    position: absolute;
    top: 305px;
    font-size: 55px;
}

.goals{
    position: absolute;
    top: 415px;
    font-size: 55px;
}

.assists{
    position: absolute;
    top: 523px;
    font-size: 55px;
}

.saves{
    position: absolute;
    top: 623px;
    font-size: 55px;
}

.shotp{
    position: absolute;
    top: 720px;
    font-size: 55px;
}

.winp{
    position: absolute;
    top: 815px;
    font-size: 55px;
}

.goalp{
    position: absolute;
    top: 905px;
    font-size: 55px;
}