@font-face {
    font-family: "MadeTommyBlack";
    src: url("fonts/MadeTommyBlack.otf");
}

@font-face {
    font-family: "MadeTommyBold";
    src: url("fonts/MadeTommyBold.otf");
}

@font-face {
    font-family: "MadeTommyExtraBold";
    src: url("fonts/MadeTommyExtraBold.otf");
}

@font-face {
    font-family: "MadeTommyLight";
    src: url("fonts/MadeTommyLight.otf");
}

@font-face {
    font-family: "MadeTommyMedium";
    src: url("fonts/MadeTommyMedium.otf");
}

@font-face {
    font-family: "MadeTommyRegular";
    src: url("fonts/MadeTommyRegular.otf");
}

@font-face {
    font-family: "MadeTommyThin";
    src: url("fonts/MadeTommyThin.otf");
}

.franchise1{
    position: absolute;
    top: 273px;
}

.franchise2{
    position: absolute;
    top: 334px;
}

.franchise3{
    position: absolute;
    top: 395px;
}

.franchise4{
    position: absolute;
    top: 456px;
}

.franchise5{
    position: absolute;
    top: 517px;
}

.franchise6{
    position: absolute;
    top: 578px;
}

.franchise7{
    position: absolute;
    top: 639px;
}

.franchise8{
    position: absolute;
    top: 699px;
}

.franchise9{
    position: absolute;
    top: 760px;
}

.franchise10{
    position: absolute;
    top: 821px;
}

.franchise11{
    position: absolute;
    top: 882px;
}

.franchise12{
     position: absolute;
     top: 943px;
 }

.logo{
    position: absolute;
    left: 376px;
    width: 47px;
    height: 47px;
}

.name{
    position: absolute;
    left: 501px;
    width: 440px;
    height: 41px;
    font-family: MadeTommyBold;
    font-size: 37px;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;
    color: white;
}

.record{
    position: absolute;
    left: 940px;
    width: 120px;
    height: 41px;
    font-family: MadeTommyBold;
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: white;
}

.winper{
    position: absolute;
    left: 1092px;
    width: 125px;
    height: 41px;
    font-family: MadeTommyBold;
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: white;
}

.last5{
    position: absolute;
    top: 4px;
    width: 39px;
    height: 39px;
}

.m1{
    position: absolute;
    left: 1312px;
}

.m2{
    position: absolute;
    left: 1364px;
}

.m3{
    position: absolute;
    left: 1416px;
}

.m4{
    position: absolute;
    left: 1468px;
}

.m5{
    position: absolute;
    left: 1520px;
}
