@font-face {
    font-family: "MadeTommyBlack";
    src: url("fonts/MadeTommyBlack.otf");
}

@font-face {
    font-family: "MadeTommyBold";
    src: url("fonts/MadeTommyBold.otf");
}

@font-face {
    font-family: "MadeTommyExtraBold";
    src: url("fonts/MadeTommyExtraBold.otf");
}

@font-face {
    font-family: "MadeTommyLight";
    src: url("fonts/MadeTommyLight.otf");
}

@font-face {
    font-family: "MadeTommyMedium";
    src: url("fonts/MadeTommyMedium.otf");
}

@font-face {
    font-family: "MadeTommyRegular";
    src: url("fonts/MadeTommyRegular.otf");
}

@font-face {
    font-family: "MadeTommyThin";
    src: url("fonts/MadeTommyThin.otf");
}

body{
    font-family: MadeTommyBold;
}

#InGameOverlay{
    width: 1920px;
    height: 1080px;
}


#ClockTime{
    position: absolute;
    top: 74px;
    width: 1920px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: MadeTommyBold;
}

#streamTitle{
    position: absolute;
    top: 2px;
    left: 456px;
    font-family: MadeTommyLight;
    font-size: 13px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 1000px;
    height: 16px;
}

#GameScore{
    position: absolute;
    top: 27px;
    left: 912px;
    width: 94px;
    height: 44px;
    font-size: 40px;
    text-align: center;
    font-family: MadeTommyBold;
    color: white;
    overflow: visible;
    white-space: nowrap;
}


.TeamImageDiv{
    position: absolute;
    top: 2px;
    display: flex;
    height: 36px;
    width: 36px;
}

#OrangeTeamName{
    font-family: MadeTommyBold;
    font-size: 30px;
    position: absolute;
    top: 35px;
    right: 599px;
    width: 300px;
    height: 44px;
    text-align: center;
    color: white;
}

.BlueTeamStuff{
    width: 200px;
    text-align: center;
    font-size: 26px;
}

.OrangeTeamStuff{
    width: 200px;
    text-align: center;
    font-size: 26px;
}

.BlueTeamImage{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    left: 500px;
}

.OrangeTeamImage{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    right: 500px;
}

#BlueTeamName{
    font-family: MadeTommyBold;
    font-size: 30px;
    position: absolute;
    top: 35px;
    left: 599px;
    width: 300px;
    height: 44px;
    text-align: center;
    color: white;
}

#SeriesScore{
    position: absolute;
    top: 0;
    left: 0;
    height: 1080px;
    width: 1920px;
    z-index: 5;
}

#FocusPlayer{
    position: absolute;
    top: 0px;
    width: 1920px;
    text-align: center;
}

.FocusedPlayer{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0px;
}

#FocusPlayerImage{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1080px;
    width: 1920px;
    z-index: 0;
}

.FocusPlayerStats{
    font-size: 24px;
    color: white;
    z-index: 1;
}

.FocusPlayerScore{
    position: absolute;
    left: 1395px;
    top: 1047px;
    width: 75px;
    height: 26px;
    text-align: right;
}

.FocusPlayerGoals{
    position: absolute;
    left: 1525px;
    top: 1047px;
    width: 39px;
    height: 26px;
    text-align: right;
}

.FocusPlayerAssists{
    position: absolute;
    left: 1715px;
    top: 1047px;
    width: 39px;
    height: 26px;
    text-align: right;
}

.FocusPlayerSaves{
    position: absolute;
    left: 1798px;
    top: 1047px;
    width: 39px;
    height: 26px;
    text-align: right;
}

.FocusPlayerShots{
    position: absolute;
    left: 1623px;
    top: 1047px;
    width: 39px;
    height: 26px;
    text-align: right;
}

.FocusPlayerName{
    position: absolute;
    top: 1047px;
    left: 1127px;
    width: 275px;
    height: 26px;
    text-align: left;
    text-align: center;
}

.BottomBoost{
    position: absolute;
    width: 224px;
    left: 1687px;
    top: 811px;
    transition: clip-path 0.35s;
}

#BottomBoostLeft{
    position: absolute;
    top: 868px;
    left: 1747px;
    width: 169px;
    height: 169px;
}

#BottomBoostRight{
    top: 868px;
    left: 1747px;
    width: 169px;
    height: 169px;
}

#BlueBoostMeter{
    position: absolute;
    width: 141px;
    height: 141px;
    top: 882px;
    left: 1761px;
}

#BlueBoostMeter::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, #4CAF50 0%, #4CAF50 50%, transparent 50%, transparent 100%);
    transform: rotate(-90deg);
    border-radius: 50%;
}

#BlueBoostMeter::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    transform: rotate(calc(120deg - 90deg));
    transform-origin: center;

}

#OrangeBoostMeter{
    position: absolute;
    width: 141px;
    height: 141px;
    top: 882px;
    left: 1761px;

}

/*.BottomBoostBoost{*/
/*    position: absolute;*/
/*    top: 895px;*/
/*    left: 1750px;*/
/*    font-size: 45px;*/
/*    width: 96px;*/
/*    z-index: 100;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

.BottomBoostBoost{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 96px;
    z-index: 100;
    text-align: center;
    color: white;
}



/*#BottomBoostBoostLeft{*/
/*    position: absolute;*/
/*    left:1786px;*/
/*    top:922px;*/
/*    width: 88px;*/
/*    height: 55px;*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    font-family: MadeTommyBold;*/
/*}*/

/*#BottomBoostBoostRight{*/
/*    position: absolute;*/
/*    left:1786px;*/
/*    top:922px;*/
/*    width: 88px;*/
/*    height: 55px;*/
/*    text-align: center;*/
/*    font-size: 50px;*/
/*    font-family: MadeTommyBold;*/
/*}*/

.TeamBoostSet{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.BlueBoostImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.OrangeBoostImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

.BoostBarNameBlue{
    color: white;
    font-size: 20px;
    text-align: left;
}

.BoostBarNameOrange{
    color: white;
    font-size: 20px;
    text-align: right;
}

#BoostBarName1 {
    position: absolute;
    top: 30px;
    left: 5px;
}

#BoostBarName4{
    position: absolute;
    top: 30px;
    right: 5px;
}

#BoostBarName2 {
    position: absolute;
    top: 85px;
    left: 5px;
}

#BoostBarName5 {
    position: absolute;
    top: 85px;
    right: 5px;
}

#BoostBarName3 {
    position: absolute;
    top: 140px;
    left: 5px;
}

#BoostBarName6 {
    position: absolute;
    top: 140px;
    right: 5px;
}

.ReplayGraphic{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    z-index: 0;
}


.GoalSpeed{
    position: absolute;
    top: 1026px;
    left: 834px;
    width: 250px;
    font-family: MadeTommyBold;
    font-size: 35px;
    text-align: center;
    color: white;
}

.Scorer{
    position: absolute;
    top: 1026px;
    left: 356px;
    width: 450px;
    font-family: MadeTommyBold;
    font-size: 35px;
    text-align: center;
    color: white;
}

.Assister{
    position: absolute;
    top: 1026px;
    left: 1112px;
    width: 450px;
    font-family: MadeTommyBold;
    font-size: 35px;
    text-align: center;
    color: white;
}

.Invisible{
    display: none;
}

#Transition{Graphicosition: absolute;
    top: 0;
    left: 0;
    width: 1920px;
}

.container {
    position: absolute;
    top: 878px;
    left: 1756px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .progress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    background: rgb(31, 26, 26) linear-gradient(to right, transparent 50%, var(--clr) 0);
}

/*.progress span{*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    z-index: 1;*/
/*    color: white;*/
/*}*/

.progress::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
    transition: transform 0.25s ease-out;
}

.progress::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: rgb(31, 26, 26);
}

.progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.progress.less::before{
    background: rgb(31, 26, 26);
    transform: rotate(calc(((var(--i) - 0) * 0.01turn)));
}